%li
  .project
    %span.color{:style => "background-color:#{category.name.pastel_color};"}
    %span
      #{link_to category.name, category_path(category)}
    %span
      (#{link_to t("category.edit"), edit_category_path(category)})
